.header{
    position: relative;
    height: 40px;
}
#month{
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
}
#btns{
    position:absolute;
    display: block;
    right: 15px;
    bottom: 15px;

}
#btn1, #btn2{
    background: none;
    border: none;
    margin: 8px;
    
}
.fa{
    color: rgb(149, 155, 241);
    font-size: 20px;
}
.fa:hover{
    color: rgb(85, 64, 161);
}
#calendar thead {
    font-weight: 300;
    text-transform: uppercase;
  }
   
  #calendar tbody {
    color: rgb(182, 181, 181);
  }
   
  #calendar tbody td:hover {
    border: 1px solid #00addf;
  }
   
  #calendar td {
    border: 2px solid transparent;
    border-radius: 50%;
    display: inline-block;
    height: 3em;
    line-height: 3em;
    text-align: center;
    width: 2.5em;
  }
   

/* calnder styling */

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Lato", sans-serif;
}


.calendar {
  margin: auto;
  width: 350px;
  background-color: #fff;
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.2);

}

.month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

#date_str{
  font-size: 1rem;
  font-weight: 300;
}

.weekdays {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 7px 0;
  display: flex;
}

.days {
  font-weight: 300;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
}

.weekdays div,
.days div {
  text-align: center;
  width: 14.28%;
}

.days div {
  padding: 10px 0;
  margin-bottom: 10px;
  transition: all 0.4s;
}

.prev_date {
  color: #999;
}

.today {
  background-color: dodgerblue;
  color: #fff;
}

.days div:hover {
  cursor: pointer;
  background-color: #dfe6e9
}

.prev,
.next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 23px;
  transition: all 0.4s;
  color: dodgerblue;

}

.prev:hover,
.next:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

#month {
  font-size: 30px;
  font-weight: 500;
}

#btn{
  background-color: white;
  border: none;
  width: 100%;
  cursor: pointer;

}
#btn:hover{
  background-color: #dfe6e9;
}
#schedule-div{
  display: flex;
  
}

#append_div{
  /* height: 100%; */
  width: 250px;
  /* position: relative; */
  /* right: 0px; */
  /* display: none; */
  -webkit-box-flex: 1;
  
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  text-align: center;  
}

#available-times-div {
  font-family: Lato;
  font-weight: 300;
  -webkit-box-flex: 2;
  /*-ms-flex: 2;*/
  flex: auto;
}
#select_time_btn{

-webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border: 1px solid lightblue;
    color: dodgerblue;
    background-color: white;
    width: 100%;
    font-weight: 600;
    margin-bottom: 20px;
    border-radius: 5px;
    height: 40px;
  }
  #select_time_btn:hover{
    border:2px solid dodgerblue ;
  }
  
